[Desktop Entry]
Name=QJoyPad
GenericName=Joypad mapping
Comment=Trigger keystrokes and mouse actions with gamepads/joysticks
Comment[de]=Löse mit dem Gamepad/Joystick Tastendrücke und Mausbewegungen aus
Icon=qjoypad
Exec=qjoypad
Terminal=false
Type=Application
Categories=Utility;Game;
StartupNotify=false
Keywords=joypad;joystick;joykeys;joyemu

